/*IMPORTAÇÃO DE FONTES*/
@import 'https://fonts.googleapis.com/css?family=Lobster';
/*CSS - ESTILIZAÇÃO DA PÁGINA*/
body {
	background-color: ;
	 }
h1, h2{
	font-family: 'Lobster', cursive;
}

/*Formatação dos campos de conteúdo (Barras: Central e Lateral)*/

/*Menu - sidenav e pesquisar */
.menu {text-align: center;}
.sidenav {
    padding: 15px;
	position: relative;
    background:#424242;
    height: 100%;}
.sidenav li a {
	font-family: 'Lobster', cursive;
	color:white;
	font-size: 18px;} 
.sidenav li a:hover { background: #F2F2F2; color: black;}
.glyphicon-search {color: #FF4167;}

/* Redes sociais */
.social { padding-left: 30px; float: right; display: block;}
section.social {position: fixed; right: 8px; top:8px;}
section.social li { list-style: none; }

/**/
h5 .label {
	background: #FF4167;
}

.row.content {height: 100%;}

.img-grande {
	width: 100%;
	height: 500px;
	border: 1px solid red;
	margin-bottom: 2%;
}
/* * FORMULARIO COMENTARIOS*/
fieldset > input, .form-control-coment {
	background: white;
	border: 1px solid red;}
.form-control-coment {width: 80%;}
.input-email {width: 250px;}
form.comentarios {
	width: 100%;
	float: left;
	border-right: 1px solid #ccc;
	margin-right: 2%;}

/*Videos - youtube*/
section.videos img {
	width: 220px;
	height: 200px;
	display: inline-block;
	margin-left: 5px;
	margin-bottom: 5px;
}  
section.videos {margin-bottom: 15%;} 
section.videos img:hover {
	-webkit-filter: grayscale(70%); /* Chrome, Safari, Opera */
	filter: grayscale(70%);
}
/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 500px) {
.row.content {height: auto;}
section.videos a img {
	width: 150px;
	height: 100px;
	display: inline-block;
	margin: 3px;}   
.img-grande {
	width: 100%;
	height: 300px;
	border: 1px solid red;
	margin-bottom: 2%;
}


}
@media screen and (max-width: 767px) { .row.content {height: auto;} section.social {display: none;}}


